
  .header-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-image: url("../../assets/image-3.png");
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    width: auto;
   
  }
  .fondo{
      height: 100vh;
      width: auto;
  }
.infoh4{
    font-weight: 400;
    font-size: 3rem;
    color: #ACCCD8;
    margin-left:2rem;
}
.infoh5{
    margin-top: 0.4rem;
    font-weight: 400;
    font-size: 2rem;
    color: #ACCCD8;
    margin-left:2rem;
}



.btn-search{
  background-color: #ACCCD8 ;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  width: 24rem;
  border-style: none;
  height: 2.5rem;
  font-size: 1rem;
  
}
.inp-search{
  background-color: #dfdfdf;
  color: black;
  height: 3.5rem;
  width: 24rem;
  border-style: none;
}
.select-search{
  background-color: #dfdfdf  ;
  color: black;
  height: 3.5rem;
  width: 12rem;
}


/* responsive */
@media (max-width:800px) {

  
  
    .btn-search{
      background-color: #ACCCD8 ;
      border-radius: 4px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
      width: 15rem;
      border-style: none;
      height: 2.5rem;
      
    }
    
}
